h1{
    color: teal;
}
p strong{
    color: red;
}
.destacado{
    color: orange;
}
h2{
    color: blue;
}
p a{
    color: red;
}
a em{
    color: blue;
}
span.especial{
    color: purple;
}
caption{
    color: blue;
}
table{
    border:1px solid black;
}
tr,td,th{
    border:1px solid black;
    padding: 10px;
}
.especial{
    color: gold;
}
td{
    color: green;
}
td strong{
    color: gold;
}
tfoot tr{
    color: red;
}
th{
    color: red;
}
div{
    color: seagreen;
}
#adicional #especial{
    color: violet;
}
#adicional a{
    color: green;
}